<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> 일반적인 리스트 출력 </h3>
<ul>
    <li th:each="dto, state : ${list}">
        [[${state.index}]] --- [[${dto}]]
    </li>
</ul>

<h3> 제어문 연산자 if </h3>
<ul>
    <li th:each="dto, state : ${list}" th:if="${dto.sNo % 5 == 0 }">
        [[${state.index}]] --- [[${dto}]]
    </li>
</ul>

<h3> 제어문 연산자 if unless </h3>
<ul>
    <li th:each="dto, state : ${list}">
        <span th:if="${dto.sNo % 5 == 0}" th:text="${'----------'+dto.sNo}"></span>
        <span th:unless="${dto.sNo % 5 == 0}" th:text="${dto.first}"></span>
<!--        [[${state.index}]] -&#45;&#45; [[${dto}]]-->
    </li>
</ul>

<h3> 제어문 연산자 삼항연산자 </h3>
<ul>
    <li th:each="dto, state : ${list}" th:text="${dto.sNo % 5 == 0 } ? ${dto.sNo} : ${dto.first}">
    </li>
</ul>

<style>
    .target {
        background-color: red;
    }
</style>
<h3> 제어문 연산자 삼항연산자 스타일 적용</h3>
<ul>
    <li th:each="dto, state : ${list}" th:class="${dto.sNo % 5 == 0 } ? 'target'" th:text="${dto}">
    </li>
</ul>

<h3> th:block 테스트 </h3>
<ul>
    <th:block th:each="dto: ${list}">
        <li th:text="${dto.sNo % 5 == 0} ? ${dto.sNo} : ${dto.first}"></li>
    </th:block>
</ul>

<h3> 패딩 테스트 </h3>
<ul>
    <li th:each="dto : ${list}">
        [[${#numbers.formatInteger(dto.sNo, 5)}]]
    </li>
</ul>

<h3> Java8 Time 테스트 </h3>
<ul>
    <li th:each="dto : ${list}">
        [[${dto.sNo}]] --- [[${#temporals.format(dto.regTime, 'yyyy-MM-dd')}]]
    </li>
</ul>
</body>
</html>
